@page "/rooms"
@using HotelApp.Blazor.Models
@attribute [StreamRendering]
@inject ILogger<Rooms> logger
@inject IRoomService service

<PageTitle>Rooms: Available</PageTitle>

<h1>Available Rooms</h1>

<p>Shows data for all available rooms</p>

@if (rooms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Status</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price per Night</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in roomsView)
            {
                <tr>
                    <td>@room.Id</td>
                    <td>@room.Number</td>
                    <td>@room.Status.Title</td>
                    <td>@room.Type.Title</td>
                    <td>@room.Type.Description</td>
                    <td>@room.Type.BasePrice</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<RoomView> roomsView = [];
    private List<Room>? rooms;
    private List<RoomType>? roomTypes;
    private List<RoomStatus>? roomStatuses;

    protected override void OnInitialized()
    {
        rooms = service.GetRooms();
        roomTypes = service.GetRoomTypes();
        roomStatuses = service.GetRoomStatuses();

        foreach (var r in rooms)
        {
            var rType = roomTypes.Where(x => x.Id == r.TypeId).FirstOrDefault();
            if (rType is null)
            {
                logger.LogError($"Failed to get roomType for {r.TypeId} room id.");
                return;
            }
            var rStatus = roomStatuses.Where(x => x.Id == r.StatusId).FirstOrDefault();
            if (rStatus is null)
            {
                logger.LogError($"Failed to get roomStatus for {r.StatusId} status id.");
                return;
            }
            // We need to render only available rooms
            if (rStatus.Title == "Available")
            {
                roomsView.Add(new RoomView { Id = r.Id, Number = r.Number, Type = rType, Status = rStatus });
            }
            
        }

        logger.LogInformation("Page rendering completed");
    }
}
